# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Angular2
client/typings
client/system-config.js*
client/app/**/*.js
client/app/**/*.map
client/node_modules
client/jspm_packages
client/bower_components

# Next
.next
